.dark-mode{
    background-color: darken($grisOscuro, 10);

    .productos{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
    }

    .btn__modo{
        filter: invert(100%);
}

    .producto__descripcion{
        color: $blanco;
    }

    .titulo_descripcion{
        h4{
            color: $blanco;
        }
        p{
            color: $gris;
        }
    }

    .caracteristicas{
        h4{
            color: $blanco;
        }
        .cant{
            background-color: darken($grisOscuro, 10);
            border-color: $blanco;
            color: $blanco;
        }
    }

    .carrito{
        border-color: $blanco;
    }
}
