// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$blanco: #ffffff;
$morado: #9b5de5;
$dorado: #E6CD75;
$gris: #35332b;

// Fuente
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
$fuente_principal: 'Poppins', sans-serif;