.main{
    margin-top: 0rem;
    @include tablet{
        margin-top: 3rem;
    }
}
.main__titulo{
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $morado;
    margin-bottom: 2.5rem;
}