.header{
    height: 55rem;
    @include tablet{
        height: 70rem;
    }
    .img__header{
        width: 20rem;
        margin: 0 auto;
        margin-top: 2rem;
        @include tablet{
            margin-top: 15rem;
            width: 30rem;
        }
        
    }
}
.barra{
    text-align: center;
    padding: 2rem 0 2rem 0;

    @include tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav{
    margin-top: 2rem;
    @include tablet{
        margin-top: 0;
    }
}
.nav a{
    display: block;
    text-align: center;
    font-size: 2rem;
    color: $morado;
    font-size: 2.5rem;

    @include tablet{
        display: inline;
        margin-left: 1rem;

        
    }
}
.nav a:hover{
    color: $dorado;
}
.logo__header h1{
    font-weight: 600;
    color: $morado;
}
.btn__modo{
    width: 3rem;
    height: 3rem;
    align-items: center;
    cursor: pointer;
    margin-top: 2rem;

    @include tablet{
        margin-top: 0;
    }
}
#color{
    color: $dorado;
}

.carrito{
    border-top: 2px solid $negro;
    max-width: 30%;
    margin: 0 auto;

    @include tablet{
        border: none;
        border-left: 2px solid $negro;
        padding-left: 1rem;
    }
}